@font-face {
  font-family: "IM Fell DW Pica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/im-fell-dw-pica-v16-regular.ttf") format("truetype");
}

@font-face {
  font-family: "IM Fell Double Pica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/im-fell-double-pica-v14-regular.ttf") format("truetype");
}

@font-face {
  font-family: "IM Fell English SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/im-fell-english-sc-v16-regular.ttf") format("truetype");
}

* {
  font-family: "IM Fell DW Pica", Georgia, serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: #1d2433;
}

p {
  font-family: "IM Fell Double Pica", Georgia, serif;
}

.highlight {
  background-color: rgb(195, 247, 9);
  color: black;
}

@media screen and (min-width: 600px) {
  #burger {
    display: none;
  }

  #burgerbar {
    display: none !important;
  }

  .burgerNavBar li {
    display: none;
  }

  .burgerLogo {
    display: none;
  }
}

a.buy-ticket {
  font-size: 25px;
  border-radius: 50%;
  background-color: rgb(195, 247, 9);
  color: black;
  padding: 10px;
}

a.buy-ticket:hover {
  color: rgb(195, 247, 9);
  background-color: black;
}

@media screen and (max-width: 600px) {
  .menuNavBar {
    display: none !important;
  }
}
