/* Show edit form */

p.directions {
  color: white;
  text-align: center;
}

.show-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-proposal-form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.spacer {
  height: 20px;
  border-top: 2px solid white;
  margin-top: 20px;
  width: 100%;
}

.show-form-container h2 {
  color: white;
  margin-bottom: 5px;
}

.show-form-container h4 {
  color: white;
  margin-bottom: 3px;
}

.show-form-container label {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.show-form-container input {
  font-size: 1.15rem;
}

.show-form-container button {
  margin: 2px;
  padding: 5px;
  font-size: 1.15rem;
  border-radius: 5px;
}

.show-form-container button:hover {
  cursor: pointer;
}

/* Artist Edit Form */

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-profile-form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.artist-container h2 {
  color: white;
  margin-bottom: 5px;
}

.artist-container h4 {
  color: white;
  margin-bottom: 3px;
}

.artist-container label {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.artist-container input {
  font-size: 1.15rem;
}

.artist-container button {
  margin: 2px;
  padding: 5px;
  font-size: 1.15rem;
  border-radius: 5px;
}

.artist-container button:hover {
  cursor: pointer;
}

.image-field {
  background-color: rgba(255, 255, 255, 0.7);
}

.flashing {
  animation: buttonFlash 2000ms infinite;
}

.profile-pic {
  max-width: 200px;
  border-radius: 50px;
}


@keyframes buttonFlash {
  0% {
    background-color: #c3f709;
  }

  50% {
    background-color: white;
  }

  100% {
    background-color: #c3f709;
  }
}
