/*------------------------- Main footer container/wraper styling------------- */

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vw;
}

.footer a {
  color: rgb(195, 247, 9);
  font-size: 12pt;
}

.artist-login {
  font-size: 1.7rem;
  background-color: rgb(195, 247, 9);
  border-radius: 50%;
  padding: 12px;
}

.artist-login:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0af,
  0 0 82px #0af, 0 0 92px #0af, 0 0 102px #0af, 0 0 151px #0af;
}
/*--------------------- styling targetting both logo images------------------ */

.social {
  background-color: white;
  border-radius: 13%;
  width: 35px;
  justify-content: space-around;
  display: flex;
}

.footer p {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

/* ------------------------- Styling for container of social media logo images-------------- */

.social_images {
  flex-direction: row;
  display: flex;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

/*---------------modifying border for instagram logo only to match Facebook logo--------------- */

#insta {
  border-radius: 35%;
}