/*-----------------Burger Nav Bar container ------------------- */
.burgerNavBar {
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

img.burgerLogoImg {
  max-width: 100vw;
}

#burger {
  max-width: 100vw;
}

#burger img {
  max-width: 20vw;
}

nav.menu a {
  background-color: rgb(194, 247, 9);
  font-size: 1.4rem;
  padding: 14px 16px;
  border-radius: 10%;
}

li {
  list-style: none;
  margin: 7px;
}

